<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CS171 - HW 6</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<div class="container" >
    <h1>Where's my Widget</h1>
    <div class="row">

        <div class="col-md-2 pull-left">
            <div class="form-group">
                <label class="checkbox"><input type="checkbox" checked="true" ng-model="radar.config.showAxesLabels"
                                               class="ng-pristine ng-untouched ng-valid"><span
                        class="text-primary">All</span></label>
                <label class="checkbox"><input type="checkbox" ng-model="radar.config.facet"
                                               class="ng-pristine ng-untouched ng-valid">Overall</label>
                <label class="checkbox"><input type="checkbox" ng-model="radar.config.showLevels"
                                               class="ng-pristine ng-untouched ng-valid">Customs</label>
                <label class="checkbox"><input type="checkbox" ng-model="radar.config.showAxes"
                                               class="ng-pristine ng-untouched ng-valid">Infrastructure</label>
                <label class="checkbox"><input type="checkbox" ng-model="radar.config.showVertices"
                                               class="ng-pristine ng-untouched ng-valid">Infrastructure</label>
                <label class="checkbox"><input type="checkbox" ng-model="radar.config.showPolygons"
                                               class="ng-pristine ng-untouched ng-valid">Logistics Competence</label>
                <label class="checkbox"><input type="checkbox" ng-model="radar.config.showLegend"
                                               class="ng-pristine ng-untouched ng-valid">Tracking &amp; tracing</label>
                <label class="checkbox"><input type="checkbox" ng-model="radar.config.showLevelsLabels"
                                               class="ng-pristine ng-untouched ng-valid">Timeliness</label>
            </div>
            <div class="radarChart"></div>
        </div>
        <div class="col-md-8">
            <form class="form-inline">
                <div class="form-group">
                    <label for="rankingType">Group by</label>
                    <select class="form-control" id="ranking-type">
                        <option selected="selected" value="Overall LPI ">Overall LPI Score</option>
                        <option value="Customs">Customs Score</option>
                        <option value="Infrastructure">Infrastructure Score</option>
                        <option value="International Shipment">International Shipment Score</option>
                        <option value="Logistics Services">Logistics Services Score</option>
                        <option value="Ease of Tracking">Ease of Tracking Score</option>
                        <option value="Timeliness">Timeliness Score</option>
                    </select>
                    <div id="legend"></div>

                    <!-- Activity IV -->
                    <!--<button type="button" class="btn btn-link" id="change-sorting"><i class="glyphicon glyphicon-sort"></i> Sort</button>-->
                </div>
            </form>

            <div id="chart-area"></div>
        </div>
        <div class="col-md-2 pull-right">
            <div id="ranking-area"></div>
        </div>
    </div>
</div>
</div>


<!-- Load JS libraries -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/queue.min.js"></script>
<script src="js/topojson.js"></script>
<script src="js/oridomi.min.js"></script>
<script src="js/d3.min.js"></script>
<script src="js/colorbrewer.v1.min.js"></script>
<script src="js/lodash.core.js"></script>
<script src="js/d3.tip.js"></script>
<script src="js/radarChart.js"></script>
<script src="js/d3.geo.projection.min.js"></script>

<!--<script src="js/colorbrewer.min.js"></script>-->

<!-- Choropleth and second visualization -->
<script src="js/vis-choropleth.js"></script>
<script src="js/vis-radar.js"></script>

</body>
</html>