
/* YOUR CSS STYLES */
body {
    font: 11px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
}

#legend {
    padding: 1.5em 0 0 1.5em;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .5em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}
/*.q0-9 { fill:rgb(247,251,255); }*/
/*.q1-9 { fill:rgb(222,235,247); }*/
/*.q2-9 { fill:rgb(198,219,239); }*/
/*.q3-9 { fill:rgb(158,202,225); }*/
/*.q4-9 { fill:rgb(107,174,214); }*/
/*.q5-9 { fill:rgb(66,146,198); }*/
/*.q6-9 { fill:rgb(33,113,181); }*/
/*.q7-9 { fill:rgb(8,81,156); }*/
/*.q8-9 { fill:rgb(8,48,107); }*/